@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* GOOGLE FONTS

font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;

*/

:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-h: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background: var(--Very-dark-blue);
}

html {
    position: relative;
    font-size: 16px;
    color: var(--White);
    font-family: "Inter", sans-serif;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    padding: 50px 30px;
    min-height: 100vh;
    width: 100%;
}

.main-section {
    max-width: 300px;
    background: var(--Dark-desaturated-blue);
    flex-direction: column-reverse;
    border-radius: 10px;
}

.main-heading {
    text-align: center;
}

.information-div {
    padding: 2rem;
}

.accent {
    color: var(--Soft-violet);
}

.main-paragraph {
    color: var(--Slightly-transparent-white-p);
    margin: 1.5rem 0 1rem 0;
    text-align: center;
    font-size: 12px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats p {
    margin-top:2rem;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-heading {
    color: var(--Slightly-transparent-white-h);
    font-weight: 400;
    font-size: 0.75rem;
    font-family: "Lexend Deca", sans-serif;
    margin-top: 0.25rem;
}

.img-div {
    background: #7524A0;
    display: flex;
    border-radius: 10px 10px 0 0;
}

.img-div img {
    width: 100%;
    opacity: .5;
    filter: contrast(1.5) brightness(.5);
}

.img-mobile {
  border-radius: 10px 10px 0 0;
}

.img-desktop {
  display: none;
  border-radius: 0 10px 10px 0;
}

footer {
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: var(--Soft-violet);
    text-decoration: none;
    font-weight: bold;
}

@media (min-width: 805px) {
    .main-section {
        max-width: 800px;
        flex-direction: row;
    }
    .main-paragraph {
        text-align: left;
    }
    .stats {
        flex-direction: row;
        justify-content: space-between;
    }
    .stats p {
        align-items: flex-start;
    }
    .main-heading {
      text-align: left;
    }
    .img-div,
    .information-div {
        width: 50%;
    }
    .img-div {
        border-radius: 0 10px 10px 0;
    }
    .information-div {
      padding: 2.5rem 5rem 2.5rem 2.5rem;
    }
    .img-mobile {
        display: none;
    }
    .img-desktop {
        display: block;
    }
}
